<h1 style="text-align: center;"><strong><em>Entrega de resultados</em></strong></h1>
<h2 style="text-align: center;"><strong>Simulaci&oacute;n secci&oacute;n produci&oacute;n</strong></h2>
<hr />

<h3 style="text-align: center;">&Aacute;rea de hornos</h3>
<table style="width: 100%; border-collapse: collapse; margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr>
<td style="width: 50%; text-align: center;">Tiempo m&iacute;nimo de uso del horno</td>
<td style="width: 50%; text-align: center;">{{horno_min}}</td>
</tr>
<tr>
<td style="width: 50%; text-align: center;">Tiempo m&aacute;ximo del uso del horno</td>
<td style="width: 50%; text-align: center;">{{horno_max}}</td>
</tr>
<tr>
<td style="width: 50%; text-align: center;">Tiempo de uso promedio del horno</td>
<td style="width: 50%; text-align: center;">{{horno_prom}}</td>
</tr>
<tr>
<td style="width: 50%; text-align: center;">Costo m&iacute;nimo del uso del horno</td>
<td style="width: 50%; text-align: center;">{{cost_min_horno}}</td>
</tr>
<tr>
<td style="width: 50%; text-align: center;">Costo m&aacute;ximo del uso del horno</td>
<td style="width: 50%; text-align: center;">{{costo_max_horno}}</td>
</tr>
<tr>
<td style="width: 50%; text-align: center;">Costo promedio del uso del horno</td>
<td style="width: 50%; text-align: center;">{{costo_prom_horno}}</td>
</tr>
</tbody>
</table>

<h3 style="text-align: center;">&Aacute;rea de molinos</h3>
<p style="text-align: center;">Secci&oacute;n de 3 trabajadores</p>
<table style="width: 100%; border-collapse: collapse; margin-left: auto; margin-right: auto; height: 216px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">Tiempo m&iacute;nimo de uso del molino</td>
<td style="width: 50%; text-align: center; height: 18px;">{{molino_min_1}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">Tiempo m&aacute;ximo del uso del molino</td>
<td style="width: 50%; text-align: center; height: 18px;">{{molino_max_1}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">Tiempo de uso promedio del molino</td>
<td style="width: 50%; text-align: center; height: 18px;">{{molino_prom_1}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">Costo m&iacute;nimo del uso del molino</td>
<td style="width: 50%; text-align: center; height: 18px;">{{cost_min_molino_1}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">Costo m&aacute;ximo del uso del molino</td>
<td style="width: 50%; text-align: center; height: 18px;">{{costo_max_molino_1}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">Costo promedio del uso del molino</td>
<td style="width: 50%; text-align: center; height: 18px;">{{costo_prom_molino_1}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">N&oacute;mina m&iacute;nima a empleados</td>
<td style="width: 50%; text-align: center; height: 18px;">{{pago_min_molinos_1}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">N&oacute;mina m&aacute;xima a empleados</td>
<td style="width: 50%; text-align: center; height: 18px;">{{pago_max_molinos_1}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">N&oacute;mina promedio a empleados</td>
<td style="width: 50%; text-align: center; height: 18px;">{{pago_prom_molinos_1}}</td>
</tr>
</tbody>
</table>

<p style="text-align: center;">Secci&oacute;n de 4 trabajadores</p>
<table style="width: 100%; border-collapse: collapse; margin-left: auto; margin-right: auto; height: 216px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">Tiempo m&iacute;nimo de uso del molino</td>
<td style="width: 50%; text-align: center; height: 18px;">{{molino_min_2}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">Tiempo m&aacute;ximo del uso del molino</td>
<td style="width: 50%; text-align: center; height: 18px;">{{molino_max_2}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">Tiempo de uso promedio del molino</td>
<td style="width: 50%; text-align: center; height: 18px;">{{molino_prom_2}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">Costo m&iacute;nimo del uso del molino</td>
<td style="width: 50%; text-align: center; height: 18px;">{{cost_min_molino_2}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">Costo m&aacute;ximo del uso del molino</td>
<td style="width: 50%; text-align: center; height: 18px;">{{costo_max_molino_2}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">Costo promedio del uso del molino</td>
<td style="width: 50%; text-align: center; height: 18px;">{{costo_prom_molino_2}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">N&oacute;mina m&iacute;nima a empleados</td>
<td style="width: 50%; text-align: center; height: 18px;">{{pago_min_molinos_2}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">N&oacute;mina m&aacute;xima a empleados</td>
<td style="width: 50%; text-align: center; height: 18px;">{{pago_max_molinos_2}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">N&oacute;mina promedio a empleados</td>
<td style="width: 50%; text-align: center; height: 18px;">{{pago_prom_molinos_2}}</td>
</tr>
</tbody>
</table>

<p style="text-align: center;">Secci&oacute;n de 5 trabajadores</p>
<table style="width: 100%; border-collapse: collapse; margin-left: auto; margin-right: auto; height: 144px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">Tiempo m&iacute;nimo de uso del molino</td>
<td style="width: 50%; text-align: center; height: 18px;">{{molino_min_3}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">Tiempo m&aacute;ximo del uso del molino</td>
<td style="width: 50%; text-align: center; height: 18px;">{{molino_max_3}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">Tiempo de uso promedio del molino</td>
<td style="width: 50%; text-align: center; height: 18px;">{{molino_prom_3}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">Costo m&iacute;nimo del uso del molino</td>
<td style="width: 50%; text-align: center; height: 18px;">{{cost_min_molino_3}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">Costo m&aacute;ximo del uso del molino</td>
<td style="width: 50%; text-align: center; height: 18px;">{{costo_max_molino_3}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; text-align: center; height: 18px;">Costo promedio del uso del molino</td>
<td style="width: 50%; text-align: center; height: 18px;">{{costo_prom_molino_3}}</td>
</tr>
<tr>
<td style="width: 50%; text-align: center;">N&oacute;mina m&iacute;nima a empleados</td>
<td style="width: 50%; text-align: center;">{{pago_min_molinos_3}}</td>
</tr>
<tr>
<td style="width: 50%; text-align: center;">N&oacute;mina m&aacute;xima a empleados</td>
<td style="width: 50%; text-align: center;">{{pago_max_molinos_3}}</td>
</tr>
<tr>
<td style="width: 50%; text-align: center;">N&oacute;mina promedio a empleados</td>
<td style="width: 50%; text-align: center;">{{pago_prom_molinos_3}}</td>
</tr>
<tr>
</tbody>
</table>

<h3 style="text-align: center;">&Aacute;rea de fermentaci&oacute;n</h3>
<table style="width: 100%; border-collapse: collapse; margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr>
<td style="width: 50%; text-align: center;">Tiempo m&iacute;nimo en fermentaci&oacute;n</td>
<td style="width: 50%; text-align: center;">{{ferm_min}}</td>
</tr>
<tr>
<td style="width: 50%; text-align: center;">Tiempo m&aacute;ximo en fermentaci&oacute;n</td>
<td style="width: 50%; text-align: center;">{{ferm_max}}</td>
</tr>
<tr>
<td style="width: 50%; text-align: center;">Tiempo promedio de fermentaci&oacute;n</td>
<td style="width: 50%; text-align: center;">{{ferm_prom}}</td>
</tr>
<tr>
</tbody>
</table>

<h3 style="text-align: center;">&Aacute;rea de graduaci&oacute;n del alcohol</h3>
<table style="width: 100%; border-collapse: collapse; margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr>
<td style="width: 50%; text-align: center;">Tiempo m&iacute;nimo de graduaci&oacute;n</td>
<td style="width: 50%; text-align: center;">{{grad_min}}</td>
</tr>
<tr>
<td style="width: 50%; text-align: center;">Tiempo m&aacute;ximo de graduaci&oacute;n</td>
<td style="width: 50%; text-align: center;">{{grad_max}}</td>
</tr>
<tr>
<td style="width: 50%; text-align: center;">Tiempo promedio de graduaci&oacute;n</td>
<td style="width: 50%; text-align: center;">{{grad_prom}}</td>
</tr>
<tr>
</tbody>
</table>

<h3 style="text-align: center;">&Aacute;rea de reposo</h3>
<table style="width: 100%; border-collapse: collapse; margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr>
<td style="width: 50%; text-align: center;">Tiempo m&iacute;nimo de reposo</td>
<td style="width: 50%; text-align: center;">{{rep_min}}</td>
</tr>
<tr>
<td style="width: 50%; text-align: center;">Tiempo m&aacute;ximo de reposo</td>
<td style="width: 50%; text-align: center;">{{rep_max}}</td>
</tr>
<tr>
<td style="width: 50%; text-align: center;">Tiempo promedio de reposo</td>
<td style="width: 50%; text-align: center;">{{rep_prom}}</td>
</tr>
</tbody>
</table>

<h3 style="text-align: center;">&Aacute;rea de envasado y almacenaje</h3>
<p style="text-align: center;">Secci&oacute;n de 3 trabajadores</p>
<table style="width: 100%; border-collapse: collapse; margin-left: auto; margin-right: auto; height: 216px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">Tiempo m&iacute;nimo de uso de almacenaje</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{alm_min_1}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">Tiempo m&aacute;ximo del uso de almacenaje</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{alm_max_1}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">Tiempo de uso promedio de almacenaje</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{alm_prom_1}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">Costo m&iacute;nimo del uso de almacenaje</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{cost_min_alm_1}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">Costo m&aacute;ximo del uso de almacenaje</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{costo_max_alm_1}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">Costo promedio del uso de almacenaje</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{costo_prom_alm_1}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">N&oacute;mina m&iacute;nima a empleados</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{pago_min_alm_1}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">N&oacute;mina m&aacute;xima a empleados</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{pago_max_alm_1}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">N&oacute;mina promedio a empleados</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{pago_prom_alm_1}}</td>
</tr>
</tbody>
</table>

<p style="text-align: center;">Secci&oacute;n de 4 trabajadores</p>
<table style="width: 100%; border-collapse: collapse; margin-left: auto; margin-right: auto; height: 216px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">Tiempo m&iacute;nimo de uso de almacenaje</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{alm_min_2}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">Tiempo m&aacute;ximo del uso de almacenaje</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{alm_max_2}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">Tiempo de uso promedio de almacenaje</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{alm_prom_2}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">Costo m&iacute;nimo del uso de almacenaje</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{cost_min_alm_2}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">Costo m&aacute;ximo del uso de almacenaje</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{costo_max_alm_2}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">Costo promedio del uso de almacenaje</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{costo_prom_alm_2}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">N&oacute;mina m&iacute;nima a empleados</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{pago_min_alm_2}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">N&oacute;mina m&aacute;xima a empleados</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{pago_max_alm_2}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">N&oacute;mina promedio a empleados</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{pago_prom_alm_2}}</td>
</tr>
</tbody>
</table>

<p style="text-align: center;">Secci&oacute;n de 5 trabajadores</p>
<table style="width: 100%; border-collapse: collapse; margin-left: auto; margin-right: auto; height: 216px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">Tiempo m&iacute;nimo de uso de almacenaje</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{alm_min_3}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">Tiempo m&aacute;ximo del uso de almacenaje</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{alm_max_3}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">Tiempo de uso promedio de almacenaje</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{alm_prom_3}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">Costo m&iacute;nimo del uso de almacenaje</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{cost_min_alm_3}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">Costo m&aacute;ximo del uso de almacenaje</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{costo_max_alm_3}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">Costo promedio del uso de almacenaje</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{costo_prom_alm_3}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">N&oacute;mina m&iacute;nima a empleados</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{pago_min_alm_3}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">N&oacute;mina m&aacute;xima a empleados</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{pago_max_alm_3}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 54.0366%; text-align: center; height: 18px;">N&oacute;mina promedio a empleados</td>
<td style="width: 45.9634%; text-align: center; height: 18px;">{{pago_prom_alm_3}}</td>
</tr>
</tbody>
</table>